# The script does not read from .env files, you'll need to load these in some other way
YOUTUBE_DATA_API_KEY= # https://console.cloud.google.com/apis/dashboard and project must have enabled the YouTube Data API v3 service (under APIs & Services)